* {
	margin: 0;
	padding: 0;
}

body {
	width: 785px;
	height: 580px;
}

#frame {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	opacity: 0;
	transition: all 290ms ease;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loaded {
	opacity: 1 !important;
}

.sk-circle {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: rgb(248, 165, 130);
	border-radius: 100%;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
	animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
	animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
	animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
	animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
	animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
	animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
	animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
	animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
	animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
	animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
	animation-delay: -0.1s;
}

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}